@celeste: #88E1F0;

.mixin margenes(@top: 0px ,@bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;

.jumbotron {
  background-color: @celeste;
  color: black;
  margin-top: 50px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: @celeste;
  .margenes (10px , 0px); 
 }

.card-hotel {
  flex: 1 180px;
  padding: 3px 3px 3px 3px;
  .margenes (10px , 0px); 
 }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-icono {
  padding-right: 10px; }

.hotel-star {
  color: yellow;
  background-color: #ccc; }

.tab-content {
  padding-top: 15px; }