$celeste: #4BF9EA;
$gray: #ccc;

@mixin margenes($top ,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $celeste;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $celeste;
	@include margenes (10px , 10px);
}

.card-hotel {
	flex: 1 180px;
	padding: 3px 3px 3px 3px;
	@include margenes (10px , 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-icono {
	padding-right: 10px;
}

.hotel-star {
	color: yellow;
	background-color: $gray;
}

.tab-content {
	padding-top: 15px;
}