.jumbotron {
  background-color: #4BF9EA;
  color: black;
  margin-top: 50px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #4BF9EA;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-hotel {
  flex: 1 180px;
  padding: 3px 3px 3px 3px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-icono {
  padding-right: 10px; }

.hotel-star {
  color: yellow;
  background-color: #ccc; }

.tab-content {
  padding-top: 15px; }
